// Comment and tag formatting

.comment-count:before, .tags:before {
  padding-right: 0.4em;
  font-family: "FontAwesome";
  font-size: 0.8em;
  font-weight: normal;
  color: #ddd;
  transition: color 0.2s;
}

// Icons
.comment-count:before {
  content: "\f086";
}

.tags:before {
  content: "\f02c";
}

.comment-count:hover:before, .tags:hover:before {
  color: #aaa;
}

/* Tags listing */
.tags {
  font-size: 0.8em;
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 0;
}

.tags li {
  display: inline-block;
  margin-bottom: 0;
  color: #aaa;
}

/* Hex code to add a comma+space after each list item, except the last */
.tags li:after {
  content: ",\00a0";
}

.tags li:last-child:after {
  content: "";
}

li {
  margin-bottom: 0.2em;
}

ul.results {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.results > li {
  margin: 2.0em 0;
}

ul.results > li:first-child {
  margin-top: 0;
}

/* @group Disqus */

#disqus_thread {
  padding: 1em 0 0 0;
  border-top: 1px solid #eee;
}

